.Task {
    display: flex;
    align-items: flex-start;
    width: 408px;
    align-content: center;
    font-size: 30px;
    align-items: center;
}

.Task span {

}

.Task li {

}

.Task button {

}

.removeTask {
    width: 20px;
    height: 20px;
}

.editTask {
    width: 20px;
    height: 20px;
}